/../../.3T/
/../../.BurpSuite/
/../../.DS_Store
/../../.android/
/../../.aws/
/../../.bash_history
/../../.bash_sessions/
/../../.bashrc
/../../.cache/
/../../.docker/
/../../.eclipse/
/../../.eparaksts/
/../../.euso/
/../../.fzf.bash
/../../.fzf.zsh
/../../.fzf/
/../../.git-credentials
/../../.gitconfig
/../../.jenkins/
/../../.lesshst
/../../.m2/
/../../.npm/
/../../.nvm/
/../../.openjfx/
/../../.oracle_jre_usage/
/../../.p2/
/../../.pgadmin/
/../../.postman/
/../../.psql_history
/../../.ssh/
/../../.swt/
/../../.viminfo
/../../.vscode/
/../../.zcompdump
/../../.zsh_history
/../../.zsh_sessions/
/../../.zshrc
/../../AWSCLIV2.pkg
/../../Agent
/../../Attributes.json
/../../Documents/
/../../Downloads/
/../../IdeaProjects/
/../../Ksu0007/
/../../Library/
/../../Movies/
/../../Music/
/../../Pictures/
/../../Postman/
/../../Public/
/../../README.md
/../../package-lock.json
/../../path/
/../../sskey.txt
/../../sskey.txt.pub
/../../taqc-sprint-oop-fundamentals-Ksu0007/
/../../thread-js/
/../../wildrydes-site/
# Ignore system files
.DS_Store

# Ignore user-specific files and directories
.Trash/
.3T/
.BurpSuite/
.android/
.aws/
.bash_history
.bash_sessions/
.bashrc
.cache/
.docker/
.eclipse/
.eparaksts/
.euso/
.fzf.bash
.fzf.zsh
.fzf/
.git-credentials
.gitconfig
.jenkins/
.lesshst
.m2/
.npm/
.nvm/
.openjfx/
.oracle_jre_usage/
.p2/
.pgadmin/
.postman/
.psql_history
.ssh/
.swt/
.viminfo
.vscode/
.zcompdump
.zsh_history
.zsh_sessions/
.zshrc
AWSCLIV2.pkg
Agent
Attributes.json
Documents/
Downloads/
IdeaProjects/
Ksu0007/
Library/
Movies/
Music/
Pictures/
Postman/
Public/
README.md
package-lock.json
path/
sskey.txt
sskey.txt.pub
taqc-sprint-oop-fundamentals-Ksu0007/
thread-js/
wildrydes-site/

node_modules
.prettierrc